* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    background: #f9f9f9;
}

a {
    color: #333;
    text-decoration: none;
}

.my-container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0.2rem;
}

img {
    width: 100%;
}

.my-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    /* background: #f1f1f1; */
    background: #07252d;
    margin-bottom: 2rem;

    color: white;
}

.my-card  img{
    height: 100%;
}

.my-card > div {
    padding: 2rem;
    align-items: center;
}

.my-card:nth-child(even) img {
    order: 2;
}

@media (max-width: 600px) {
    .my-card {
        display: block;
    }
}